cluster/apps/n8n-system/n8n/assets/sre-triage-workflow.json
{
  "name": "SRE Alertmanager Triage",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "<CONFIGURE-WEBHOOK-PATH>",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3424,
        320
      ],
      "id": "f8ce976c-8792-4dd0-a534-a769c0c30ea1",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "const alerts = $input.first().json.alerts || [];\nconst alert = alerts[0] || {};\nconst labels = alert.labels || {};\nconst alertname = labels.alertname || 'unknown';\nconst endsAt = alert.endsAt || new Date().toISOString();\nconst msg = `**Resolved:** ${alertname}\\n**Ended at:** ${endsAt}`;\nreturn [{ json: { discord_message: msg, alertname, endsAt } }];"
      },
      "id": "679e395d-5f89-4014-aae6-09ab9f760b77",
      "name": "Format Resolved Message",
      "type": "n8n-nodes-base.code",
      "position": [
        -2528,
        224
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "<CONFIGURE-GUILD-ID>",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1403996226046787634",
          "mode": "id"
        },
        "content": "={{ $json.discord_message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -2304,
        224
      ],
      "id": "fe121423-1505-4001-a96c-81eb5a9653dc",
      "name": "Send Resolved Message"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "<CONFIGURE-GUILD-ID>",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1403996226046787634",
          "mode": "id"
        },
        "content": "={{ $json.discord_message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1408,
        416
      ],
      "id": "f36ecabb-ccd3-4be6-95d9-4597019ff532",
      "name": "Send Triage Message"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "<CONFIGURE-GUILD-ID>",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1403996226046787634",
          "mode": "id"
        },
        "content": "={{ '**Tracking issue:** ' + $json.github_issue_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -960,
        416
      ],
      "id": "a52922b0-32ed-44af-8ec4-73dee4c2278b",
      "name": "Send Issue Link"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nconst prompt = `Alertmanager webhook received. Triage this alert.\\n\\n${JSON.stringify(payload, null, 2)}`;\nreturn [{ json: { prompt } }];"
      },
      "id": "a90b6ec3-2c85-4268-83d1-514ec11b720e",
      "name": "Format Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        -2528,
        416
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "connectionMode": "k8sEphemeral",
        "prompt": "={{ $json.prompt }}",
        "permissionMode": "bypassPermissions",
        "toolPermissions": {},
        "model": "claude-opus-4-6",
        "agents": {
          "agentsList": []
        },
        "mcpServers": {
          "serversList": []
        },
        "mcpConfigFilePaths": "/etc/mcp/mcp.json",
        "options": {
          "systemPromptMode": "append",
          "systemPrompt": "# SRE Triage Agent \u2014 spruyt-labs Kubernetes Cluster\n\nYou are an SRE triage agent for the spruyt-labs Kubernetes homelab cluster. You are terse, technical, and evidence-based. Every claim you make must be backed by actual cluster data \u2014 MCP tool output, metrics queries, or log lines. Never speculate without data. You perform read-only operations only.\n\n## Input\n\nYou receive an Alertmanager webhook JSON payload as your prompt. The payload contains:\n\n- `status` \u2014 firing or resolved\n- `groupLabels` \u2014 labels used to group alerts\n- `commonLabels` \u2014 labels shared across all alerts in the group\n- `commonAnnotations` \u2014 annotations shared across all alerts\n- `alerts[]` \u2014 array of individual alerts\n\nEach alert in the array has:\n\n- `labels.alertname` \u2014 name of the firing alert rule\n- `labels.severity` \u2014 critical, warning, or info\n- `annotations.description` \u2014 human-readable description of the alert\n- `startsAt` \u2014 ISO 8601 timestamp when the alert started firing\n\n## MCP Tool Reference\n\n| Purpose | MCP Tool |\n| ------- | -------- |\n| Get pods | `mcp__kubernetes__get_pods` |\n| Get nodes | `mcp__kubernetes__get_nodes` |\n| Get events | `mcp__kubernetes__get_events` |\n| Get logs | `mcp__kubernetes__get_logs` |\n| Describe resource | `mcp__kubernetes__kubectl_describe` |\n| Generic kubectl | `mcp__kubernetes__kubectl_generic` |\n| Get deployments | `mcp__kubernetes__get_deployments` |\n| Get statefulsets | `mcp__kubernetes__get_statefulsets` |\n| Get daemonsets | `mcp__kubernetes__get_daemonsets` |\n| Custom resources (HelmRelease, Kustomization) | `mcp__kubernetes__get_custom_resource` |\n| Cilium policies | `mcp__kubernetes__cilium_policies_list_tool` |\n| Hubble flows | `mcp__kubernetes__hubble_flows_query_tool` |\n| Metrics query | `mcp__victoriametrics__query` |\n| Range query | `mcp__victoriametrics__query_range` |\n| Read Discord messages | `mcp__discord__read_messages` |\n| Search GitHub issues | `mcp__github__search_issues` |\n| Read GitHub issue | `mcp__github__issue_read` |\n| Create/update issue | `mcp__github__issue_write` |\n| Comment on issue | `mcp__github__add_issue_comment` |\n| List PRs | `mcp__github__list_pull_requests` |\n\n## Step 0 \u2014 Situational Awareness (mandatory, always first)\n\nBefore investigating the alert itself, gather context. This step is non-negotiable.\n\n### A. Discord \u2014 Read Recent Alerts\n\nRead recent messages from the #k8s-alerts channel:\n\n```text\nmcp__discord__read_messages(channelId=\"1403996226046787634\", limit=30)\n```\n\nLook for:\n\n- Other recent alerts (correlated alert storm?)\n- Maintenance context or announcements\n- Previous triage results for related alerts\n\n### B. GitHub \u2014 Check for Active Maintenance\n\nSearch for open maintenance-related issues:\n\n```text\nmcp__github__search_issues(query=\"repo:anthony-spruyt/spruyt-labs state:open talos OR upgrade OR renovate batch\")\n```\n\nAlso check recent Renovate PRs:\n\n```text\nmcp__github__list_pull_requests(owner=\"anthony-spruyt\", repo=\"spruyt-labs\", state=\"all\")\n```\n\nFilter results for `renovate[bot]` author and PRs created in the last 24 hours.\n\n### C. Correlate\n\nIf 3+ alerts fired within 30 minutes AND/OR there is active maintenance (Talos upgrade, node upgrade, Kubernetes version bump), lead triage with a correlation finding and single root cause assessment.\n\nMaintenance-related alerts typically cause:\n\n- Node NotReady\n- Pod evictions\n- etcd leader elections\n- Scheduling failures\n- Brief storage disruptions\n\nThese are expected and self-resolve. Keep triage brief and skip the GitHub issue.\n\n## Steps 1-7 \u2014 Investigation Checklist\n\nWork through these steps systematically. You must use at least one `mcp__kubernetes__*` call AND one `mcp__victoriametrics__*` call per triage. For multi-alert payloads, investigate each affected resource. Prioritize breadth over depth.\n\n### 1. Identify\n\nWhat fired? What namespace, service, or pod is affected? Extract this from the alert labels.\n\n### 2. Pod/Workload State\n\nCheck workload health:\n\n- Running? CrashLoopBackOff? OOMKilled? Pending?\n- How many replicas are ready vs desired?\n- Any recent restarts?\n\n### 3. Recent Events\n\nPull events for the affected namespace. Look for scheduling failures, image pull errors, volume mount issues, or OOM kills.\n\n### 4. Node State\n\nCheck node health \u2014 NotReady, cordoned, upgrading? This is critical during maintenance windows. Check node conditions and taints.\n\n### 5. HelmRelease/Flux State\n\nCheck the HelmRelease or Kustomization for the affected workload:\n\n- Is it Ready?\n- Any recent upgrades or rollbacks?\n- Reconciliation failures?\n\n### 6. Logs\n\nPull recent container logs for the affected pod(s) if relevant. Focus on error-level messages and stack traces.\n\n### 7. Metrics\n\nQuery relevant time-series to quantify the problem and understand trends. Examples:\n\n- CPU/memory usage approaching limits\n- Request error rates\n- Pod restart counts over time\n- Disk usage trends\n\n## GitHub Issue Management\n\n### Search for Existing Issue\n\nBefore creating a new issue, search for an existing open one:\n\n```text\nmcp__github__search_issues(query=\"repo:anthony-spruyt/spruyt-labs state:open label:alert <alertname>\")\n```\n\nPost-filter results to verify the title contains the exact alertname. GitHub search is fuzzy \u2014 do not trust it blindly.\n\n### If Found \u2014 Update\n\nComment with a triage update via `mcp__github__add_issue_comment`. Include new findings, updated metrics, and any changes in severity or scope.\n\n### If Not Found and Not Maintenance Noise \u2014 Create\n\nCreate a new issue via `mcp__github__issue_write`:\n\n- **Repository:** `anthony-spruyt/spruyt-labs`\n- **Title:** `<emoji> <alertname> \u2014 <brief description>`\n  - Emoji: `\ud83d\udd25` for critical, `\u26a0\ufe0f` for warning, `\u2139\ufe0f` for info\n- **Labels:** `alert`, `sre`\n- **Body:** Structured triage report containing:\n  - Trigger (what alert fired and when)\n  - Severity\n  - Time (startsAt in UTC)\n  - Findings (bulleted list of evidence)\n  - Probable cause\n  - Recommended action\n  - Confidence level\n\n### If Maintenance Noise \u2014 Skip\n\nDo not create a GitHub issue. Set `create_issue: false` in the output.\n\n## Discord Message Identification\n\nFrom Step 0's Discord read, find the Alertmanager bot message that matches this alert:\n\n- Look for a message where the embed title starts with `[FIRING` and contains the alertname\n- Must be within the last 30 minutes (ignore stale matches)\n- Take the most recent match (messages are returned newest-first)\n- Extract the message `id` and return it as `alert_message_id`\n- If no match found, set `alert_message_id: null`\n\n## Output \u2014 Structured JSON\n\n**CRITICAL: Your final output MUST be a single raw JSON object and absolutely nothing else.** No preamble, no summary, no markdown code fences, no explanation before or after. The very first character of your response must be `{` and the very last must be `}`. Any text outside the JSON will cause a parse failure.\n\nThe JSON must match this schema exactly:\n\n```json\n{\n  \"alert_message_id\": \"<discord message id or null>\",\n  \"alertname\": \"<string>\",\n  \"severity\": \"<critical|warning|info>\",\n  \"status\": \"firing\",\n  \"skip\": false,\n  \"maintenance_context\": \"<string or null>\",\n  \"summary\": \"<one-line summary>\",\n  \"findings\": [\"<finding 1>\", \"<finding 2>\"],\n  \"probable_cause\": \"<root cause assessment>\",\n  \"recommended_action\": \"<concrete next step>\",\n  \"confidence\": \"<high|medium|low>\",\n  \"create_issue\": false,\n  \"github_issue_url\": \"<url or null>\",\n  \"thread_name\": \"<alertname> triage \u2014 <HH:MM UTC>\"\n}\n```\n\nField notes:\n\n- `status` \u2014 always `\"firing\"`. Resolved alerts are handled by n8n upstream and never reach this agent.\n- `alert_message_id` \u2014 Discord message ID of the matching Alertmanager notification, or `null` if not found\n- `skip` \u2014 set to `true` for transient or self-resolving alerts not worth posting about (e.g., low-rate drops already declining)\n- `maintenance_context` \u2014 brief description of active maintenance if detected, otherwise `null`\n- `create_issue` \u2014 `true` if a new GitHub issue was created, `false` otherwise (including when an existing issue was updated)\n- `github_issue_url` \u2014 URL of the created or updated issue, or `null`\n- `thread_name` \u2014 suggested Discord thread name for follow-up discussion\n\n## Common Mistakes\n\n### Cilium Investigation\n\n- **NEVER** use `mcp__kubernetes__analyze_network_policies` \u2014 it only checks Kubernetes NetworkPolicy, not Cilium CRDs\n- Use `mcp__kubernetes__kubectl_generic` with `command=get ciliumnetworkpolicies -n <namespace> -o yaml` to inspect Cilium policies\n- Always check BOTH namespace-scoped CNPs AND cluster-wide CCNPs\n- The cluster-wide `allow-kube-dns-egress` CCNP covers all pods \u2014 never report \"missing DNS egress\"\n\n### Drop Classification\n\n- Empty/null destination = external/world traffic (egress to internet)\n- Empty/null source = external/world traffic inbound\n- Named namespace = cross-namespace traffic\n- `POLICY_DENIED` = no matching allow rule\n- `STALE_OR_UNROUTABLE_IP` = transient from pod restarts\n- 0-5 drops/hour is normal pod churn \u2014 do not overreact\n\n### Zero Results\n\n- \"Zero results\" may mean a tooling or RBAC gap, not reality\n- Never conclude \"no policies exist\" without checking both CNPs and CCNPs\n- State gaps explicitly rather than concluding nothing exists\n\n### Existing Issues\n\n- Do NOT blindly trust existing GitHub issues \u2014 verify diagnosis against current cluster state\n- Previous triage may be stale or incorrect\n\n### Transient Alerts\n\n- Low-rate drops (<1/s) that self-resolve don't need forensics or GitHub issues\n- Check metrics history first \u2014 if the rate is already declining, keep triage brief\n\n## Constraints\n\n- **Read-only cluster operations only** \u2014 no `kubectl apply`, `delete`, `patch`, `exec`, or `restart`\n- **Max 12 MCP investigation calls** for single-alert payloads, **18 for multi-alert**\n- Discord reads and GitHub calls do **not** count toward this limit\n- If an MCP server is unavailable, state explicitly as a gap in findings \u2014 do not silently omit it\n"
        }
      },
      "id": "d9f8c826-fbbd-4092-81fa-b35b1e89f668",
      "name": "Claude Code CLI",
      "type": "n8n-nodes-claude-code-cli.claudeCode",
      "position": [
        -2304,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '{}';\n  const str = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  let result;\n  try {\n    result = JSON.parse(str);\n  } catch (e) {\n    // Try to extract JSON object from surrounding text\n    const match = str.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      try {\n        result = JSON.parse(match[0]);\n      } catch (e2) {\n        result = null;\n      }\n    }\n    if (!result) {\n      result = {\n        alert_message_id: null,\n        alertname: 'parse_error',\n        severity: 'warning',\n        status: 'firing',\n        skip: false,\n        maintenance_context: null,\n        summary: 'Failed to parse Claude Code output',\n        findings: [`Raw output: ${str.substring(0, 500)}`],\n        probable_cause: 'Claude Code returned non-JSON output',\n        recommended_action: 'Check agent prompt and MCP connectivity',\n        confidence: 'low',\n        create_issue: false,\n        github_issue_url: null,\n        thread_name: `parse-error triage \\u2014 ${new Date().toISOString().substring(11, 16)} UTC`\n      };\n    }\n  }\n  return [{ json: result }];"
      },
      "id": "066d6672-5d8a-48bb-9b8d-af033c195b70",
      "name": "Parse Output",
      "type": "n8n-nodes-base.code",
      "position": [
        -2080,
        416
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0e72d8bf-2192-47a5-8357-55affcdc83ab",
      "name": "Skip Filter",
      "type": "n8n-nodes-base.if",
      "position": [
        -1856,
        416
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nlet msg = '';\nif (d.maintenance_context) {\n  msg += `**Context:**\\n- ${d.maintenance_context}\\n\\n`;\n}\nmsg += `**What fired:**\\n- ${d.summary}\\n\\n`;\nmsg += `**Investigation:**\\n`;\n(d.findings || []).forEach(f => { msg += `- ${f}\\n`; });\nmsg += `\\n**Probable cause:**\\n${d.probable_cause}\\n\\n`;\nmsg += `**Recommended action:**\\n${d.recommended_action}\\n\\n`;\nmsg += `**Confidence:** ${d.confidence}`;\nconst MAX = 1950;\nconst messages = [];\nlet current = '';\nfor (const line of msg.split('\\n')) {\n  if (current.length + line.length + 1 > MAX && current.length > 0) {\n    messages.push(current.trimEnd());\n    current = '';\n  }\n  current += line + '\\n';\n}\nif (current.trim()) {\n  messages.push(current.trimEnd());\n}\nreturn messages.map(m => ({ json: { ...d, discord_message: m } }));"
      },
      "id": "e4b829be-800e-4e37-ad2f-d555a7ff72a4",
      "name": "Format Discord Message",
      "type": "n8n-nodes-base.code",
      "position": [
        -1632,
        416
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-issue-url",
              "leftValue": "={{ $json.github_issue_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6fa0b782-6f3d-408d-a697-47138d8bb00a",
      "name": "GitHub Issue Link Filter",
      "type": "n8n-nodes-base.if",
      "position": [
        -1184,
        416
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "resolved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3cbeef8d-1abd-4ce3-9e9e-f02a92ca6ba1",
      "name": "Status Router",
      "type": "n8n-nodes-base.if",
      "position": [
        -2752,
        320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-watchdog",
              "leftValue": "={{ $json.alerts[0].labels.alertname }}",
              "rightValue": "Watchdog",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "dc60ad2c-8441-48cf-98a7-027bcc6195b4",
              "leftValue": "={{ $json.alerts[0].labels.alertname }}",
              "rightValue": "InfoInhibitor",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e1ade8a0-8aa2-4976-b926-cf573c33303c",
      "name": "Alert Filter",
      "type": "n8n-nodes-base.if",
      "position": [
        -2976,
        320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;                                                                                                                                       \n  return [{ json: body }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3200,
        320
      ],
      "id": "ece49d85-a97e-4915-9e09-5a5b4240a29c",
      "name": "Extract Body"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Resolved Message": {
      "main": [
        [
          {
            "node": "Send Resolved Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Triage Message": {
      "main": [
        [
          {
            "node": "GitHub Issue Link Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Prompt": {
      "main": [
        [
          {
            "node": "Claude Code CLI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Code CLI": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "Skip Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Filter": {
      "main": [
        [
          {
            "node": "Format Discord Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Discord Message": {
      "main": [
        [
          {
            "node": "Send Triage Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Issue Link Filter": {
      "main": [
        [
          {
            "node": "Send Issue Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Router": {
      "main": [
        [
          {
            "node": "Format Resolved Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Filter": {
      "main": [
        [
          {
            "node": "Status Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Body": {
      "main": [
        [
          {
            "node": "Alert Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {},
  "tags": []
}
